<header>
  <nav>

    <!-- <img class="header__logo_png" src="/img/gogymbuddy-logo.png" /> -->
    <a [routerLink]="['']" class="header__logo">Go Gym Buddy</a>

  </nav>
  <div class="open" (click)="expandMenu($event)">
    <span (click)="closeMenu($event)" class="cls"></span>
    <span>
        <ul class="sub-menu ">
          <li>
              <a [routerLink]="['']" title="about"> Home</a>
          </li>
            <li>
                <a [routerLink]="['about']" title="about"> About</a>
            </li>
            <li>
                <a href="#skills" title="skills">Habilidades / Skills</a>
            </li>
            <li>
                <a href="#jobs" title="jobs">Trabalhos / Jobs</a>
            </li>
            <li>
                <a href="#contact" title="contact">Contato / Contact</a>
            </li>
        </ul>
    </span>
    <span (click)="closeMenu($event)" class="cls"></span>
  </div>
</header>
<main (click)="closeMenu($event)">
  <router-outlet></router-outlet>
</main>
